<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
	<title>Login</title>
	<script th:src="@{/tailwind.js}"></script>
</head>

<body>

	<section class="bg-gray-50 ">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 space-y-4">
			<div th:if="${param.error}" class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 "
				role="alert">
				<svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
					fill="currentColor" viewBox="0 0 20 20">
					<path
						d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
				</svg>
				<span class="sr-only">Info</span>
				<div>
					<span class="font-medium">Access Denied !</span> 
				</div>
			</div>
			<div class="w-full bg-white rounded-lg shadow-xl  md:mt-0 sm:max-w-md xl:p-0  space-y-6 ">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
						Sign In
					</h1>
					<form class="space-y-4 md:space-y-6" th:action="@{/doc/login}" method="post">
						<div>
							<input type="text" name="username" id="email"
								class="bg-bleu-400 border border-bleu-600 text-gray-900 sm:text-sm rounded-lg focus:ring-bleu-600 focus:border-sky-600 block w-full p-2.5"
								placeholder="Username" required="">
						</div>
						<div>
							<input type="password" name="password" id="password" placeholder="••••••••" minlength="8"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-bleu-600 focus:border-bleu-600 block w-full p-2.5"
								required="">
						</div>
						<button type="submit"
							class="w-full text-white bg-blue-500 hover:bg-blue-800 hover:ring-4 hover:ring-offset-2 transition-all duration-300 focus:scale(.75) focus:ring-4 focus:outline-none focus:ring-bleu-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign
							in</button>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>